<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="/static/css/foundation.css" />
<script type="text/javascript" src="/static/js/modernizr.js"></script>
</head>
<body>
  <div class="row">
    <div class="small-12 columns">
      <h1>Natural language search engine</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="panel">
        <h4>Your question URL was:</h4>
        <p><i>{{ question }}</i></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="panel callout">
        <h4>The top answer is:</h4>
        <p>{{ response }}</p>
      </div>
		</div>
	</div>
  <div class="row">
    <div class="small-12 columns">
      <a href="/" class="button alert right">Go back to search</a>
    </div>
  </div>
 <div class="row">
    <div class="small-12 columns">
			<h3>Other classified answers were:</h3>
			{% for resp in others %}
        <p>{{ resp }}</p>
				<hr />
			{% endfor %}
    </div>
  </div>


  <!-- Don't slow down page loading by scripts, load them at the end -->
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/js/foundation.min.js"></script>
  <script type="text/javascript" src="/static/utils.js"></script>
</body>
</html>
